[Default]
eqtime= 30

[Magnet]
mftable=argon

[SourceParameters]
hv=9900
ion_repeller=-3.5
electron_energy=90

[Trap]
current= 205
voltage=11.00
ramp_step= 2
ramp_period= 1
ramp_tolerance= 25

[SourceOptics]
y_symmetry= 32.00
extraction_symmetry= 0.02
extraction_focus= 0.5
extraction_lens= 16.75
flatapole= 2.3
rotation_quad= 10.0
vertical_deflection_n=90.0
vertical_deflection_s=100.0

#[CDDParameters]
#IonCounterVoltage= 1840

[Protection]
use_beam_blank= False
beam_blank_threshold= 0.1
detectors=
use_detector_protection= True
detector_protection_threshold= 0.1
